/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
.bigger{
  font-size: 50px;
}

.test{
  background-image: url('../images/library.jpg');
  opacity: 0.9;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  color: white;
}
 
body {
  background-color: powderblue;
  /*width: 600px;*/
  border: 2px solid black;
  /*padding: 0px 20px 20px 20px;*/
  
  
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #ff00ff;  /* Fuchsia */
	text-shadow: 3px 3px 1px black;
}

h2{
  font-size: 30px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color: white;
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: #00cc00;
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 20%;
  border: none;
  background-color: #6600cc;  
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  margin: auto;
  border-radius: 10px;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: red;
  font-style: italic;
  font-size: 75%;
}

/*Footer*/

#footer{
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  background-image: linear-gradient(60deg, #29323c 0%, #248f24 100%);
}

#footer .footerc{
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h2{
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item{
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#footer p{
  color: white;
  font-size: 1.3rem;;
}



#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
 
}

#footer .social-item{
  height: 50px;
  width: 50px;
  /* margin: 0 5px; */
  margin: auto;
}

#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#git {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  
}



/* End Footer */

.brand h1{
  font-size: 3rem;
  text-transform: uppercase;
  color:white;
}

.brand h1 span{
  color:crimson;
}

/* ***************** GALLERY ************************************************************************************ */

.gallery * {
  box-sizing: border-box;
}

.gallery body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  visibility: hidden;
  font-size: 35px;
  cursor: pointer;
}