/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #945af0;
  background-color: #945af0;
}

h3{

  font-size: 22px;
}
/*p {
  border: 10px;
  border-radius: 2px;
  border-color: #B6F05A;
}
*/
/*style the signature at the bottom*/
signature {

  text-align: center;
  font-family: "Lucida Console","Courier New",monospace;
  font-size: 80%;
  opacity: 60%;
}

div{
  font-family: "Palatino","URW Palladio L",serif;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  font-family: "Gill Sans", sans-serif;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #5602DC;
  border-radius: 7px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #5602DC;
  border-radius: 7px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #5602DC;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}


/*Footer*/

.demo-bg {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#footer{
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  /* background-image: linear-gradient(60deg, #29323c 0%, #248f24 100%); */
  /* background-image: url(../images/shelves.png); */
  /* opacity: 0.2;  */
}

#footer .footerc{
  min-height: 100px;
  flex-direction: column;
  padding-top: 1px;
  padding-bottom: 1px;
}

#footer h2{
  color: rgb(114, 46, 153);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item{
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#footer p{
  color: white;
  font-size: 1.3rem;;
}



#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
 
}

#footer .social-item{
  height: 50px;
  width: 50px;
  /* margin: 0 5px; */
  margin: auto;
}

#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#git {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  
}



/* End Footer */

.brand h1{
  font-size: 5rem;
  text-transform: uppercase;
  color:rgb(127, 41, 145);
  text-align: center;
  /* opacity: 0.9; */
}

.brand h1 span{
  color:crimson;
}