
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}

/* Buttons */

.list-group-item.active {
  background-color: rgb(147, 88, 218);
  border-color: rgb(147, 88, 218);
}

.btn, .btn-lg, .btn-block, .btn-primary {
  background-color: rgb(147, 88, 218) !important;
  border-color:rgb(147, 88, 218) !important;
}

.btn:hover, .btn-lg:hover, .btn-block:hover, .btn-primary:hover {
  background-color: rgb(173, 120, 238) !important;
  border-color:rgb(147, 88, 218) !important;
  box-shadow: none !important;
}

.btn:active, .btn-lg:active, .btn-block:active, .btn-primary:active {
  color: rgb(173, 120, 238) !important;
  background-color: rgb(173, 120, 238) !important;
  border-color:rgb(147, 88, 218) !important;
  box-shadow: none !important;
}

.btn:focus, .btn-lg:focus, .btn-block:focus, .btn-primary:focus {
  background-color: rgb(173, 120, 238) !important;
  border-color:rgb(147, 88, 218) !important;
  box-shadow: none !important;
}

/*Footer*/

.demo-bg {
  opacity: 0.4;
  position: absolute;
  /* margin-left: 106px; */
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#footer .footerc{
  min-height: 100px;
  flex-direction: column;
  padding-top: 1px;
  padding-bottom: 1px;
}

#footer h2{
  /* color: rgb(114, 46, 153); */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  letter-spacing: .1rem;
  margin-top: 1px;
  margin-bottom: 10px;
  /* margin-left: 100px; */
}

#footer p{
  color: white;
  font-size: 1.3rem;;
}


/* End Footer */

#violet-text{
  color: #9e50e2;
}

#tab a:link, #tab a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#tab a:hover, #tab a:active {
  background-color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 5;
}
#tab2 {
  background-color:#333;
}
#timeinput ul{
  background-color: white;
}
.ui-timepicker-container{
      /*background-color:white;*/
     z-index:1151 !important; 
     overflow: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}


@media (min-width: 768px){
  .row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    }
}
.col-md-6.mb-4{
  display: flex;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }


  .card_columns{
    display: table;
    width: 100%;
    /*height: 1300px;*/
  }

  .card_body{
    display: block;
  }


  .service_detail h4{
    font-size: 30px;
    /*clear: right;*/
    /*float: left;*/
    /*margin: 10px;*/
  }
  .service_detail p{
    font-size: 20px;
  }