/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body {font-family: Arial;}



h3{
  font-size: 22px;
}
/*p {
  border: 10px;
  border-radius: 2px;
  border-color: #B6F05A;
}
*/
/*style the signature at the bottom*/
signature {
  position: relative;
  left: 40%;
  bottom: 0;
  width: 100%;
  text-align: right;
  margin: auto;
  font-family: "Lucida Console","Courier New",monospace;
  font-size: 80%;
  opacity: 60%;
}

div{
  font-family: "Palatino","URW Palladio L",serif;

}



/*vertical navigation bar inspired by https:www.w3schools.com/Css/css_navbar_vertical.asp*/


/* Style the tab */
.tab {
  position: fixed;
  height: 900px;
  top: 1px;
  left: 1px;
  overflow: hidden;
  width: 100px;
  border: 1px solid #945af0;
  background-color: #945af0;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  font-family: "Gill Sans", sans-serif;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 30px;
  transition: 0.3s;
  font-size: 15px;
  text-align: center;
  /*height: 90%;*/

}

/* Change  color of buttons on hover */
.tab button:hover {
  color: black;
  border-radius: 2px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #77bd08;
  border-radius: 2px;
}

/* Style the tab content */
.tabcontent {
  position: relative;

  margin-left:106px;
  display: none;
  top: 0px;
  padding: 3px 12px;
  border: 1px solid #5602DC;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}


/*Footer*/

.demo-bg {
  opacity: 0.5;
  position: absolute;
  margin-left: 106px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#footer .footerc{
  min-height: 100px;
  flex-direction: column;
  padding-top: 1px;
  padding-bottom: 1px;
}

#footer h2{
  color: rgb(114, 46, 153);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item{
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#footer p{
  color: white;
  font-size: 1.3rem;;
}



#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
 
}

#footer .social-item{
  height: 50px;
  width: 50px;
  /* margin: 0 5px; */
  margin: auto;
}

#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#git {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  
}



/* End Footer */

.brand h1{
  position: relative;
  margin-left: 106px;
  font-size: 5rem;
  text-transform: uppercase;
  color:rgb(127, 41, 145);
  text-align: center;
  /* opacity: 0.9; */
}

.brand h1 span{
  color:crimson;
}

select, input, button{
  font-size: 100%;
}

/* Div containing the group signature */
.page-footer {
  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
}

#fontIncreaseButtons {
  height: 75%;
  width: 75%;
}