<!-- This little bit of code started with https://www.wikihow.com/Create-a-Questionnaire-in-HTML and got modified,
by then using info from w3schools.com to continue.
This is an UGLY survey....  PLEASE MODIFY IT!
Caroline Barrière
May 2020
-->

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<!-- IMPORTANT to use a CSS file - external -->

	<!-- <link href="styles/style.css" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/style_new.css" type="text/css">

	<title>Questionnaire</title>
	<link rel="shortcut icon" type="image/png" href="assets/images/questionnaire.png" />

	<!-- jquery script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

	<div class="container-xxl p-2 my-3 border bg-light">

		<div class="text-center headingBackground p-3 mx-auto">
			<h1><a href="https://www.chapters.indigo.ca/en-ca/books/" class="heading text-white" target="_blank">
					Chapters Survey
				</a></h1>
		</div>

		<nav class="navbar sticky navbar-expand-md bg-maroon">
			<div class="container-fluid">
				<ul class="navbar-nav col-2 text-center">
					<li class="nav-item col-12">
						<a href="#gallery" class="nav-link nav-style">Gallery</a>
					</li>
					<li class="nav-item col-12">
						<a href="#personal" class="nav-link nav-style">Personal Information</a>
					</li>
					<li class="nav-item col-12">
						<a href="#history" class="nav-link nav-style">Reading History</a>
					</li>
					<li class="nav-item col-12">
						<a href="#pref" class="nav-link nav-style">Reading Preferences</a>
					</li>
					<li class="nav-item col-12">
						<a href="#ui" class="nav-link nav-style">Website UI</a>
					</li>

				</ul>
			</div>
		</nav>
	</div>
	<div class="container-xxl p-3 my-3 border bg-light">
		<br>
		<div id="gallery" class="container text-red">
			<h1>Gallery: View some of our website photos here</h1>
			<br>

			<div id="direction" class="carousel slide" data-bs-ride="carousel">

				<!-- Indicators/dots -->
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#direction" data-bs-slide-to="0" class="active"></button>
					<button type="button" data-bs-target="#direction" data-bs-slide-to="1"></button>
					<button type="button" data-bs-target="#direction" data-bs-slide-to="2"></button>
					<button type="button" data-bs-target="#direction" data-bs-slide-to="3"></button>
				</div>

				<!-- The slideshow/carousel -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<a href="https://www.chapters.indigo.ca/en-ca/books/" target="_blank">
							<img src="assets/images/Chapters.jpg" alt="Main Page" style="width:100%"
								onclick="myFunction(this);"></a>
					</div>
					<div class="carousel-item">
						<a href="https://www.chapters.indigo.ca/en-ca/books/" target="_blank">
							<img src="assets/images/fiction.jpg" alt="Fiction Books" style="width:100%"
								onclick="myFunction(this);"></a>
					</div>
					<div class="carousel-item">
						<a href="https://www.chapters.indigo.ca/en-ca/books/" target="_blank">
							<img src="assets/images/kids.jpg" alt="Kids Books" style="width:100%"
								onclick="myFunction(this);"></a>
					</div>
					<div class="carousel-item">
						<a href="https://www.chapters.indigo.ca/en-ca/books/" target="_blank">
							<img src="assets/images/kart.jpg" alt="Shopping Cart Page" style="width:100%"
								onclick="myFunction(this);"></a>
					</div>
				</div>

				<!-- Left and right controls/icons -->
				<button class="carousel-control-prev" type="button" data-bs-target="#direction" data-bs-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#direction" data-bs-slide="next">
					<span class="carousel-control-next-icon"></span>
				</button>
			</div>
		</div>

	</div>
	<span id="allQuestions">
		<form id="questions" method="POST" action="/questionnaire" class="form-control" style="border: 0em;">
			<!--FORM BEGINS******-->
			<div id="personal" class="container-xxl p-3 my-3 border bg-light">
				<div class="question">

					<h1 class="brightRed"> Personal Information </h1>

					<h6 class="text-red">First name: <input type="text" name="firstname" placeholder="<%= qs.person %>"
							required></h6>
					<h6 class="text-red">Last name: <input type="text" name="lastname" placeholder="<%= qs.dept %>"
							required></h6>


				</div>
			</div>
			<div id="history" class="container-xxl p-3 my-3 border bg-light">
				<div class="question">
					<h1 class="brightRed"> Reading History </h1>
					<br>
					<h4 class="text-red">When was the last time you read a book?</h4>

					<input type="radio" id="months1" name="lastRead" value="1" required>
					<label class="text-red" for="months1">Less than a month ago</label><br>

					<input type="radio" id="months3" name="lastRead" value="3">
					<label class="text-red" for="months3">Less than 3 months ago</label><br>

					<input type="radio" id="months6" name="lastRead" value="6">
					<label class="text-red" for="months6">Less than a year ago</label><br>

					<input type="radio" id="months12" name="lastRead" value="12">
					<label class="text-red" for="months12">More than a year ago</label><br><br>


					<h4 class="text-red"> Have you bought books from Chapters in the recent past? </h4>

					<input type="radio" id="yes" name="recentPurchase" value="yes" required>
					<label class="text-red" for="yes">Yes</label><br>

					<input type="radio" id="no" name="recentPurchase" value="no">
					<label class="text-red" for="no">No</label><br><br>

				</div>
			</div>
			<div id="pref" class="container-xxl p-3 my-3 border bg-light">
				<div class="question">

					<h1 class="brightRed"> Reading Preferences </h1>
					<br>
					<h4 class="text-red">What is your primary language of choice when reading?</h4>
					<select class="text-red" id="favorite" name="primaryLanguage">
						<option value="English" selected="selected">English</option>
						<option value="French">French</option>
						<option value="Spanish">Spanish</option>
						<option value="Other">Other</option>
					</select>
					<br>
					<br>
					<h4 class="text-red"> What kind of books do you like? </h4>

					<div class="text-red">
						<input type="checkbox" name="Genre" value="Fiction" required> Fiction<br>
						<input type="checkbox" name="Genre" value="Non-Fiction" required> Non-Fiction<br>
						<input type="checkbox" name="Genre" value="Cookbooks" required> Cookbooks<br>
						<input type="checkbox" name="Genre" value="Thrillers" required> Thillers<br>
						<input type="checkbox" name="Genre" value="Mangas & Comics" required> Mangas & Comics<br>
					</div>
				</div>
			</div>
			<div id="ui" class="container-xxl p-3 my-3 border bg-light">
				<div class="question">

					<h1 class="brightRed"> Website UI Questions </h1>

					<h4 class="text-red">Do you find the website's UI appealing?</h4>

					<input type="radio" id="yes" name="appealing" value="yes" required>
					<label class="text-red" for="yes">Yes</label><br>

					<input type="radio" id="no" name="appealing" value="no">
					<label class="text-red" for="no">No</label><br><br>


					<h4 class="text-red">Do you like the shopping cart page's layout?</h4>

					<input type="radio" id="yes" name="likeShoppingCart" value="yes" required>
					<label class="text-red" for="yes">Yes</label><br>

					<input type="radio" id="no" name="likeShoppingCart" value="no">
					<label class="text-red" for="no">No</label><br><br>



					<h4 class="text-red"> Which of the 4 showed page was best designed? </h4>

					<select class="text-red" id="favorite" name="bestDesignPage">
						<option value="Main Page" selected="selected">Main page</option>
						<option value="Fiction Books page">Fiction Books page</option>
						<option value="Kids Books page">Kids Books page</option>
						<option value="Shopping Cart page">Shopping Cart page</option>
					</select>

					<br>
					<br>

				</div>
			</div>
			<div class="container-xxl p-3 my-3 border bg-light">
				<div class="question">

					<h1 class="brightRed"> Other Information </h1>

					<h4 class="text-red">Comments:</h4>

					<textarea rows="10" cols="100" name="comments"></textarea>
					<br><br>
					<div class="text-center">
						<button class="btn bg-brightRed w-25 text-white p-3" type="submit" value="submit">
							Submit Questionnaire
							<!-- <input type="submit" value="Submit"> -->
						</button>
					</div>

					
				</div>
			</div>
		</form>
	</span>


	<div class="footer">
		<section id="footer">
			<div class="brand text-center">
				<h1> <span>S</span>EG <span>3</span>125 </h1>
			</div>

			<h2 style="text-align: center;">Lab 6 </h2>

			<div class="social-icon">
				<!-- <h2 style="text-align: center;">Lab 1 </h2> -->
				<div class="social-item">
					<a href="https://github.com/SEG3125-G27/SEG3125-G27.github.io" target="_blank">
						<img id="git" src="assets/images/github.png" alt="GitHub Icon" title="Link to GitHub repository"
							width="50px" height="50px">
					</a>
				</div>
			</div>


			<h3 style="text-align: center; color: white;">Samy Touabi, Kishan Mrug, Rida Dzhaafar, Yanbing Ren</h3>

			<!-- </div> -->

		</section>
	</div>





	<script>
		function myFunction(imgs) {
			var expandImg = document.getElementById("expandedImg");
			var imgText = document.getElementById("imgtext");
			expandImg.src = imgs.src;
			imgText.innerHTML = imgs.alt;
			expandImg.parentElement.style.display = "block";
		}

		function sub() {
			alert("Thank you for answering our Questionnaire!");
		}


		//code inspired by https://stackoverflow.com/questions/27457581/html-5-make-checkbox-required

		//make sure at lease one checkbox is checked
		var requiredCheckboxes = $(':checkbox[required]');
		requiredCheckboxes.change(
			function () {
				if (requiredCheckboxes.is(':checked')) {
					requiredCheckboxes.removeAttr('required');

				} else {
					requiredCheckboxes.attr('required', 'required');
				}
			}
		);




	</script>
	</div>
</body>

</html>