<!-- This little bit of code started with https://www.wikihow.com/Create-a-Questionnaire-in-HTML and got modified, 
by then using info from w3schools.com to continue.
This is an UGLY survey....  PLEASE MODIFY IT!
Caroline Barrière
May 2020
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

	<!-- IMPORTANT to use a CSS file - external -->

	<!-- <link href="styles/style.css" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="/assets/style2.css" type="text/css">

    <title>Questionnaire</title>
	<link rel="shortcut icon" type="image/png" href="assets/images/questionnaire.png"/>


  </head>
  
  <body>

	<div class="test">
	<div class="gallery">

		<div style="text-align:center">
			<h2><a href="https://www.chapters.indigo.ca/en-ca/books/" target="_blank" style="color: white;">Chapters Website</a> UI Image Gallery</h2>
			<p style="color: white;">Click on the images below:</p>
		  </div>
		  
		  <!-- The four columns -->
		  <div class="row">
			<div class="column">
			  <img src="assets/images/Chapters.jpg" alt="Main Page" style="width:100%" onclick="myFunction(this);">
			</div>
			<div class="column">
			  <img src="assets/images/fiction.jpg" alt="Fiction Books" style="width:100%" onclick="myFunction(this);">
			</div>
			<div class="column">
			  <img src="assets/images/kids.jpg" alt="Kids Books" style="width:100%" onclick="myFunction(this);">
			</div>
			<div class="column">
			  <img src="assets/images/kart.jpg" alt="Shopping Cart Page" style="width:100%" onclick="myFunction(this);">
			</div>
		  </div>
		  
		  <a href="https://www.chapters.indigo.ca/en-ca/books/" target="_blank">
		  <div class="container" title="Open a new tab to Chapters home page">
			
			<span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
			
			
				<img id="expandedImg" style="width:50%; height: 10%;">
			
			<div id="imgtext"></div>
		  </div>
		  </a>

	</div>
	</div>
	

	<div class="test">

	

	<!-- <br>
	<br> -->

	</div>

	
	<br>
	<br>

	<form id="questions" method="POST" action="/questionnaire"> <!--FORM BEGINS******--> 
		<div class="question">

		<h2 class="bigger"> Personal Information </h2>

		<h2>First Name and Last Name</h2>
		<p>First name: <input type="text" name="firstname" placeholder="<%= qs.person %>"></p>
		<p>Last name: <input type="text" name="lastname" placeholder="<%= qs.dept %>"></p>
		<br>
		<br>
			
		</div>	

		<div class="question">

			<h2 class="bigger"> Reading History </h2>

			<h2>When was the last time you read a book?</h2>

			<input type="radio" id="months1" name="lastRead" value="1">
			<label for="months1">Less than a month ago</label><br>

			<input type="radio" id="months3" name="lastRead" value="3">
			<label for="months3">Less than 3 months ago</label><br>  

			<input type="radio" id="months6" name="lastRead" value="6">
			<label for="months6">Less than a year ago</label><br>

			<input type="radio" id="months12" name="lastRead" value="12">
			<label for="months12">More than a year ago</label><br><br>

			
			<br>

			<h2> Have you bought books from Chapters in the recent past? </h2>
			
			<input type="radio" id="yes" name="recentPurchase" value="yes">
			<label for="yes">Yes</label><br>

			<input type="radio" id="no" name="recentPurchase" value="no">
			<label for="no">No</label><br><br>
			
		</div>
			
		<div class="question">

			<h2 class="bigger"> Reading Preferences </h2>

			<h2>What is your primary language of choice when reading?</h2>
			<select id="favorite" name="primaryLanguage">
				<option value="English" selected="selected">English</option>
				<option value="French">French</option>
				<option value="Spanish">Spanish</option>
				<option value="Other">Other</option>
			</select>

			<br>
			<br>

			<h2> What kind of books do you like? </h2>
			
			<input type="checkbox" name="Genre" value="Fiction">Fiction<br>
			<input type="checkbox" name="Genre" value="Non-Fiction">Non-Fiction<br>
			<input type="checkbox" name="Genre" value="Cookbooks">Cookbooks<br>
			<input type="checkbox" name="Genre" value="Thrillers">Thillers<br>
			<input type="checkbox" name="Genre" value="Mangas & Comics">Mangas & Comics<br>
			
		</div>

		<div class="question">

			<h2 class="bigger"> Website UI Questions </h2>

			<h2>Do you find the website's UI appealing?</h2>

			<input type="radio" id="yes" name="appealing" value="yes">
			<label for="yes">Yes</label><br>

			<input type="radio" id="no" name="appealing" value="no">
			<label for="no">No</label><br><br>


			<h2>Do you like the shopping cart page's layout?</h2>
			
			<input type="radio" id="yes" name="likeShoppingCart" value="yes">
			<label for="yes">Yes</label><br>

			<input type="radio" id="no" name="likeShoppingCart" value="no">
			<label for="no">No</label><br><br>

			

			<h2> Which of the 4 showed page was best designed? </h2>
			
			<select id="favorite" name="bestDesignPage">
				<option value="Main Page" selected="selected">Main page</option>
				<option value="Fiction Books page">Fiction Books page</option>
				<option value="Kids Books page">Kids Books page</option>
				<option value="Shopping Cart page">Shopping Cart page</option>
			</select>

			<br>
			<br>
			
		</div>
		
		
		<div class="question">

			<h2 class="bigger"> Other Information </h2>

			<h2>Comments:</h2>

			<textarea rows="10" cols="100" name="comments"></textarea>

		</div>

		<br>
		<br>
		<input type="submit" value="submit">
				
		<!-- <button id="submitButton" type="button" class="block" onclick="sub()">
			SUBMIT your questionnaire
		</button> -->
			
		<!-- <p id="signature">Site created by Samy Touabi</p>	 -->

		<br>
		<br>

	</form>

	<section id="footer">

        <div class="footerc">
            <div class="brand">  <h1> <span>S</span>EG <span>3</span>125 </h1>  </div>

            <h2 style="text-align: center;">Lab 1 </h2>

				<div class="social-icon"> 
					<!-- <h2 style="text-align: center;">Lab 1 </h2> -->
					<div class="social-item">
						<a href="https://github.com/SEG3125-G27/SEG3125-G27.github.io" target="_blank">
							<img id="git" src="assets/images/github.png" alt="GitHub Icon" title="Link to GitHub repository" width="50px" height="50px">
						</a>
					</div>
				</div>
			

			<h3 style="text-align: center; color: white;">Samy Touabi, 300184721</h3>

		</div>

    </section>

	

	<script>
		function myFunction(imgs) {
		var expandImg = document.getElementById("expandedImg");
		var imgText = document.getElementById("imgtext");
		expandImg.src = imgs.src;
		imgText.innerHTML = imgs.alt;
		expandImg.parentElement.style.display = "block";
		}

		function sub() {
		alert("Thank you for answering our Questionnaire!");
		}

	</script>

  </body>
</html> 